#ignore python byte-code
*.pyc

#ignore java byte-code
*.class

#ignore vscode dir
.vscode/

.claude/

#ignore build dir
build/
#ignore build* dir
build*/

#ignore lib dir
lib/*

#ignore include dir for third_part
include/third_part/*

#ignore Y_LINUX_FRAME project dir
third_part/Y_LINUX_FRAME/

#ignore libcurl source code
third_part/curl-7.55.1/

#ignore libxml2 source code
third_part/libxml2-2.9.9/

#ignore libjsoncpp source code
third_part/jsoncpp-1.8.4/

#ignore build_out directory
third_part/build_out

#ignore all dep lib src
third_part/curl-7.55.1.tar.gz
third_part/jsoncpp_1.8.4.tar.gz
third_part/libxml2-2.9.9.tar.gz



#ignore java jna*
java/jna-*

