<?xml version="1.0" encoding="UTF-8"?>
<root_node>
	<root_num_val>12345</root_num_val>
	<root_str_val>root str val</root_str_val>
	<root_val name="root_str_val">test str root val</root_val>
	<root_val name="root_str_val1">test str root val1</root_val>
	<root_val prop="root_num_val">test num root val</root_val>
	<!-- test root comment -->
	<root>
		<!-- test  comment -->
		<sub_node>sub node str</sub_node>

		<sub_node name = "test">
			<!-- test  comment -->
			<third_sub_node name = "test">
				<!-- test  comment -->
				<test_node_num_val> test 72834</test_node_num_val>
				<test_node_str_val>test node str val</test_node_str_val>
			</third_sub_node>

			<!-- test  comment -->
			<test_node_num_val>first 72834</test_node_num_val>
			<test_node_str_val>first test node str val</test_node_str_val>

			<third_sub_node>
				<!-- test  comment -->
				<test_node_num_val>72834</test_node_num_val>
				<test_node_str_val>test node str val</test_node_str_val>
			</third_sub_node>
			<!-- test  comment -->
		</sub_node>


		<sub_node name = "test_sub">
			<!-- test  comment -->
			<third_sub_node name = "test">
				<!-- test  comment -->
				<test_node_num_val>second 72834</test_node_num_val>
				<test_node_str_val>second test node str val</test_node_str_val>
			</third_sub_node>

			<!-- test  comment -->
			<test_node_num_val>1234</test_node_num_val>
			<test_node_str_val>test node str val</test_node_str_val>

			<third_sub_node>
				<!-- test  comment -->
				<test_node_num_val>72834</test_node_num_val>
				<test_node_str_val>test node str val</test_node_str_val>
			</third_sub_node>
			<!-- test  comment -->
		</sub_node>

		<sub_node id = "test_id">
			<!-- test  comment -->
			<third_sub_node id = "test_id">
				<!-- test  comment -->
				<test_node_num_val>72834</test_node_num_val>
				<test_node_str_val>test node str val</test_node_str_val>
			</third_sub_node>

			<!-- test  comment -->
			<test_node_num_val>72834</test_node_num_val>
			<test_node_str_val>test node str val</test_node_str_val>
			<test_node_num_val id = "1">72834</test_node_num_val>
			<test_node_str_val id = "1">test node str val</test_node_str_val>
			<test_node_num_val id = "1">third 72834</test_node_num_val>
			<test_node_str_val id = "1">third node str val</test_node_str_val>
			<test_node_num_val id = "1">72834</test_node_num_val>
			<test_node_str_val id = "1">test node str val</test_node_str_val>
			<test_node_num_val>72834</test_node_num_val>
			<test_node_str_val>test node str val</test_node_str_val>

			<third_sub_node>
				<!-- test  comment -->
				<test_node_num_val>72834</test_node_num_val>
				<test_node_str_val>test node str val</test_node_str_val>
			</third_sub_node>
			<!-- test  comment -->
		</sub_node>


		<sub_node>
			<!-- test  comment -->
			<third_sub_node id = "test_id">
				<!-- test  comment -->
				<test_node_num_val>72834</test_node_num_val>
				<test_node_str_val>test node str val</test_node_str_val>
			</third_sub_node>

			<!-- test  comment -->
			<test_node_num_val>72834</test_node_num_val>
			<test_node_str_val>test node str val</test_node_str_val>
			<test_node_num_val id = "1">72834</test_node_num_val>
			<test_node_str_val id = "1">test node str val</test_node_str_val>
			<test_node_num_val id = "1">fourth 72834</test_node_num_val>
			<test_node_str_val id = "1">fourth node str val</test_node_str_val>
			<test_node_num_val id = "1">72834</test_node_num_val>
			<test_node_str_val id = "1">test node str val</test_node_str_val>
			<test_node_num_val>72834</test_node_num_val>
			<test_node_str_val>test node str val</test_node_str_val>

			<third_sub_node>
				<!-- test  comment -->
				<test_node_num_val>72834</test_node_num_val>
				<test_node_str_val>test node str val</test_node_str_val>
			</third_sub_node>
			<!-- test  comment -->
		</sub_node>
	</root>
</root_node>









