
#logger
log4cpp.rootCategory=DEBUG,yLogger
 
#appender
log4cpp.appender.yLogger=RollingFileAppender

log4cpp.appender.yLogger.fileName=yLogger.log

log4cpp.appender.yLogger.CreateDirs=true
log4cpp.appender.yLogger.append=true

log4cpp.appender.yLogger.maxFileSize=1024*1024*20
log4cpp.appender.yLogger.maxBackupIndex=5


#layout

log4cpp.appender.yLogger.layout=PatternLayout
log4cpp.appender.yLogger.layout.ConversionPattern=%d yLog[%5p]>> %m%n


