find_path(yLib_INCLUDE_DIR NAMES ylib.h PATHS “Your_own_path/YYL/include”) 

find_library(yLib_LIBRARY NAMES ylib.so PATHS “Your_own_path/YYL/lib” ) 


set(yLib_FOUND TRUE) 
set(yLib_INCLUDE_DIRS ${yLib_INCLUDE_DIR}) 
set(yLib_LIBS ${yLib_LIBRARY}) 


mark_as_advanced(yLib_INCLUDE_DIRS yLib_LIBS )